#fixed_top{
    padding: 1%;
    position: absolute;
    Z-INDEX: 2;
    WIDTH: 100%;
}
#logo{}
#logo img{
    max-width: 100%;
    height: auto;
}
.top_right{
    float: right;
    margin-top: 1.5%;
}
.top_right button{
}
#user_on{}
#user_off{}
#content_wrapper{
}
#fixed_bottom{
    position: relative;
    z-index: 10;
}
#bottom1{
    background: rgba(38,58,55,.8);
    color: #56bc9b;
    padding: 2% 10%;
}
#bottom2{
    background-color: #152227;
    color: #56bc9b;
    padding: 2% 10%;
}
#mid-item{
    display: table;
    text-align: center;
    margin: 0 auto;
    margin-top: 5em;
}
#mid-video{
    position: relative;
    top: 7em;
}
#mid-intro{
    padding-top: 7%;
    background-image: url('../img/bg-bottom.jpg');
    background-size: cover;
    padding-bottom: 24.8%;
    width: 100%;
    position: relative;
    top: 13.5em;
}
.intros{
    text-align: center;
    padding: 2%;
    background: rgba(96,194,156,.7);
    display: inline-block;
    height: 9em;
}
.intros img{
    max-width: 100%;
    
    max-height: 100%;
}
#first_row{
    margin: 0 auto;
    width: 50em;
    margin-bottom: 1%;
}
#service_intro{
    width: 10em;
    margin-right: 1.25%;
}
#how_to_use{
    width: 23.5em;
    margin-right: 1%;
}
#one_on_one{
    width: 15em;
    float: right;
}
#second_row{
    width: 50em;
    background: rgba(96,194,156,.7);
    margin: 0 auto;
    height: 9em;
    padding: 1%;
    text-align: center;
}
#second_row img{
    max-width: 100%;
    max-height: 100%;
}
#slide_content{
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    width: 100%;
    top: 22%;
}
#carousel_text{}
#how_to_use_btn{}
#search_row{
    position: absolute;
    z-index: 2;
    color: white;
    bottom: 0;
    display: table;
    width: 100%;
    text-align: center;
    padding: 2%;
    background: rgba(0,0,0,0.4);
}
#absolute_wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}
#search_cal{
    color: black;
    display: inline-block;
}
#search_cal input{
    background: rgba(255,255,255,0.5);
    border: 0;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    height: 3em;
}
#search_loc{    color: black;    display: inline-block;    margin: 0 0.4%;}
#search_loc input{
    background: rgba(255,255,255,0.5);     border: 0;               
    height: 3em;
}
#search_age{    color: black;    display: inline-block;    background: rgba(255,255,255,0.5);    height: 3em;}
#search_age select{
    background: transparent;                    
    border: 0;
    margin-top: 0.78em;
}
#search_btn{    display: inline-block;    background: rgba(96,194,156,0.4);    border-top-right-radius: 0.5em;    border-bottom-right-radius: 0.5em;    margin-left: 0.4%;    width: 5em;    height: 3em;}
.slide_ol_custom{
    bottom: 30%;
    
}
#search_btn span{
    margin-top: 0.8em;
}
.item-wrapper{
    background-color: rebeccapurple;
    display: inline-block;
    width: 16em;
    height: 16em;
    border-radius: 100%;
    margin: 1.5em;
}
.ModalBtn{
    background-color: rgb(144,212,186);
    border-radius: 100%;
    width: 7em;
    height: 7em;
    text-align: center;
    display: table;
    margin: 0 auto;
    font-weight: bold;
    color: white;
    margin-top: 2em;
}
.ModalBtn span{
    position: relative;
    top: 2em;
    font-size: large;
}
#signUpInput{
    width:80%;
    margin:0 auto;
    margin-top: 2em;
}
#signUpInput input{
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid rgb(187,187,187);
    margin: 0.2em 0;
    padding: .5em;
}
#Agreement{
    font-size: x-small;
    width: 80%;
    margin: 0 auto;
    color: rgb(170,170,170);
    margin-top: 2em;
}
#Agreement input{
}
#logInInput{
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
}
#logInInput input{
    width: 100%;     border-radius: 0.5em;     border: 1px solid rgb(187,187,187);     margin: 0.2em 0;     padding: .5em;
}
#save_info{
    width: 80%;
    margin: 0 auto;
    margin-top: 0.7em;
}
#login_modal_signUp{}
#login_modal_signUp_btn{
    color: rgb(230,64,74);
}
#login_modal_find{}
#login_modal_find_btn{
    color: rgb(230,64,74);
}
#FindArea{
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    color: rgb(170,170,170);
    font-weight: 500;
}