#NameTxt{
	max-width : 600px;
	margin : auto;
}
#EmailTxt{
	max-width : 600px;
	margin : auto;
}
#PasswordTxt{
	max-width : 600px;
	margin : auto;
}
#PasswordConfirmTxt{
	max-width : 600px;
	margin : auto;
}
#PhoneTxt{
	max-width : 600px;
	margin : auto;
}
#PrivacyAgreement{
	max-width : 600px;
	margin : auto
}
#MemberAgreement{
	max-width : 600px;
	margin : auto
}
#GetInfoAgreement{
	max-width : 600px;
	margin : auto
}
#JoinParents{
	max-width : 600px;
	margin : auto
}
#JoinTeacher{
	max-width : 600px;
	margin : auto
}